# ===================================
# Frontend (Vite) Production ENV
# ===================================
VITE_NOTIFY_WEBHOOK_URL=https://admin.britiumexpress.com/notify
VITE_NOTIFY_RECEIVER_BASE_URL=https://admin.britiumexpress.com
VITE_NOTIFY_WEBHOOK_SECRET=whk-d6lgfjf5r7bs7399nk30
VITE_APP_BASE_URL=https://www.britiumexpress.com
